{:type :news
 :date "2024-04-15"
 :title "Anteo inngår partnerskap med ledende utstyrsleverandør"
 :excerpt "Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur."
 :url "/news/2024-04-15-partnerskap.html"
 :image "/assets/images/news/2024-01-10-fishjrnl-lansering.jpeg"
 :featured true}