{:type :news
 :date "2024-03-15"
 :title "Lansering av ny modul for temperaturovervåking"
 :excerpt "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum."
 :url "/news/2024-03-15-temperatur-modul.html"
 :image "/assets/images/news/2024-01-15-samhandling-havbruk.png"
 :featured true}