{:type :news
 :date "2024-04-01"
 :title "Vellykket pilot med automatisk fôrplanlegging"
 :excerpt "Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates."
 :url "/news/2024-04-01-for-planlegging.html"
 :image "/assets/images/news/2024-01-20-miljoepris.png"
 :featured true}