{:template :about
 :title "Om oss"
 :slug "om-oss"
 :page-title "Om Anteo"
 :intro-text "Anteo er et norsk teknologiselskap som siden 2012 har jobbet for én ting: å gjøre hverdagen i havbruksnæringen enklere, smartere – og bedre for både folk og fisk. Vi utvikler digitale verktøy for logistikk, samhandling og fiskehelse, i tett dialog med næringen selv."}