{:paths ["src" "."]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        markdown-clj/markdown-clj {:mvn/version "1.11.4"}
        hiccup/hiccup {:mvn/version "2.0.0-RC2"}
        babashka/fs {:mvn/version "0.4.19"}
        org.babashka/sci {:mvn/version "0.10.47"}

        ;; Image processing dependencies
        org.imgscalr/imgscalr-lib {:mvn/version "4.2"}}

 :aliases {:run {:main-opts ["-m" "anteo.website.core"]}
           :dev {:main-opts ["-m" "dev"]}
           :build {:exec-fn anteo.website.core/build
                   :exec-args {:site-edn "site/site.edn"}}
           :serve {:exec-fn anteo.website.core/dev
                   :exec-args {:site-edn "site/site.edn"}}
           :clean {:exec-fn anteo.website.core/clean}
           :test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts ["-m" "kaocha.runner"]}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
                   :jvm-opts ["-Djdk.attach.allowAttachSelf"]
                   :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}}}
