{:wrapper :base
 :lang {:no {:name "Norsk"
             :default true
             :icon "assets/images/flags/norway-flag.svg"}}
 :render {:about "/about.html"
          :landing "/"}

 :image-processor true

 :templates "templates" ;; default
 :assets "assets" ;; default
 :content "content" ;; default

 }
