[:footer
 [:div.footer-content
  [:div.footer-left
   [:img {:src "/assets/images/anteo-logo-white.svg" :alt "Anteo" :width "180"}]
   [:div.footer-box
    [:p
     "Industrivegen 12, 7900 Rørvik" [:br]
     "Krambugata 2 (Digs), 7011 Trondheim" [:br]
     "Vestre Skostredet 2 (Bergen.Works), 5017 Bergen" [:br]]
    [:p {:style "color: var(--light-blue);"} "Org. nr. 999 168 817"]
    [:p [:a {:href "mailto:post@anteo.no"} "post@anteo.no"]]
    [:p [:a {:href "tel:+47 952 84 007"} "+47 952 84 007"]]]]

  [:div.footer-right
   [:div.sitemap-container
    [:div.footer-section
     [:h4 "Anteo AS"]
     [:a {:href "/produkter"} "Produkter"]
     [:a {:href "/aktuelt"} "Aktuelt"]]
    [:div.footer-section
     [:h4 "Om Oss"]
     [:a {:href "/baerekraft"} "Bærekraft"]
     [:a {:href "/selskapet"} "Selskapet"]
     [:a {:href "/kontakt"} "Kontakt oss"]]
    [:div.footer-social
     [:a {:href "https://www.facebook.com/anteoas" :target "_blank"}
      [:img {:src "/assets/images/facebook-icon.svg" :width "40" :height "40" :alt "facebook"}]]
     [:a {:href "https://www.instagram.com/anteo_softwaresolutions/" :target "_blank"}
      [:img {:src "/assets/images/instagram-icon.svg" :width "40" :height "40" :alt "instagram"}]]]]]]

 [:div.footer-bottom
  [:p "© " [:eden/get :eden/current-year] " Anteo AS. Alle rettigheter reservert."]
  [:p.footer-links
   [:a {:href "/personvern"} "Personvern"]
   [:span.footer-separator "|"]
   [:a {:href "/vilkar"} "Vilkår"]]]]
