[[:eden/include :hero]

 ;; Landing-specific hero section
 [:section.hero-main
  [:div.container
   [:div.column-wrap
    [:div.content-block-left
     [:div.content-wrap
      [:p.title [:eden/get :company-name]]
      [:h2.heading-primary [:eden/get :hero-subtitle]]
      [:p.paragraph.blue [:eden/get :hero-description]]
      [:eden/link :about [:a.btn.btn-primary {:href [:eden/get :link/href]} [:eden/get :hero-cta-text]]]]]
    [:div.image-block
     [:img {:src [:eden/get :hero-image] :alt [:eden/get :hero-image-alt]}]]]]]

 ;; Logistics
 [:eden/link
  :products
  [:section.product-section
   [:div.container
    [:div.product-wrap
     [:div.product-image
      [:img {:src "/assets/images/landing-logistics.jpg"
             :alt [:eden/get-in [:products :fish-health :title]]}]]
     [:div.product-content
      [:h2 [:eden/get-in [:products :fish-health :title]]]
      [:p [:eden/get-in [:products :logistics :description]]]
      [:a.btn.btn-primary
       {:href [:eden/get :link/href]} [:eden/t :common/read-more]]]]]]]

 ;; Fish-health
 [:eden/link
  :products
  [:section.product-section
   [:div.container
    [:div.product-wrap.reversed
     [:div.product-image
      [:img {:src "/assets/images/landing-fish-health.jpg"
             :alt [:eden/get-in [:products :fish-health :title]]}]]
     [:div.product-content
      [:h2 [:eden/get-in [:products :fish-health :title]]]
      [:p [:eden/get-in [:products :fish-health :description]]]
      [:a.btn.btn-primary
       {:href [:eden/get :link/href]} [:eden/t :common/read-more]]]]]]]

 ;; News section
 [:section.news-section
  [:div.container
   [:div.section-header
    [:p.title [:eden/get :news-section-label]]
    [:h2 [:eden/get :news-section-title]]]
   [:div.news-grid
    [:eden/each :eden/all :where {:type :news :published true} :order-by [:date :desc] :limit 3
     [:article.news-card
      [:div.news-card-image
       [:eden/link [:eden/get :content-key]
        [:a {:href [:eden/get :link/href]}
         [:img {:src "/assets/images/news/placeholder.jpg?size=400x300"
                :alt [:eden/get :title]}]]]]
      [:div.news-card-content
       [:time.news-date [:eden/get :date]]
       [:h3
        [:eden/link [:eden/get :content-key]
         [:a {:href [:eden/get :link/href]} [:eden/get :title]]]]
       [:p.news-excerpt [:eden/get :excerpt]]
       [:eden/link [:eden/get :content-key]
        [:a.read-more {:href [:eden/get :link/href]} [:eden/t :common/read-more]]]]]]]
   [:div.news-more
    [:eden/link :news
     [:a.read-more {:href [:eden/get :link/href]} [:eden/get :news-more-text]]]]]]]
