[[:sg/include :hero]

 ;; Landing-specific hero section
 [:section.hero-main
  [:div.container
   [:div.column-wrap
    [:div.content-block-left
     [:div.content-wrap
      [:p.title [:sg/get :company-name]]
      [:h2.heading-primary [:sg/get :hero-subtitle]]
      [:p.paragraph.blue [:sg/get :hero-description]]
      [:a.btn.btn-primary {:href [:sg/get :hero-cta-url]} [:sg/get :hero-cta-text]]]]
    [:div.image-block
     [:img {:src [:sg/get :hero-image] :alt [:sg/get :hero-image-alt]}]]]]]

 ;; Products
 [:sg/each [:sg/load-content :type :product :featured true :order-by [:order :asc]]
  [:section.product-section
   [:div.container
    [:div.product-wrap {:class [:sg/get :wrap-class]}
     [:div.product-image
      [:img {:src [:sg/get :image] :alt [:sg/get :title]}]]
     [:div.product-content
      [:h2 [:sg/get :title]]
      [:p [:sg/get :description]]
      [:a.btn.btn-primary {:href [:sg/get :url]} [:sg/get :cta-text]]]]]]]

 ;; News section
 [:section.news-section
  [:div.container
   [:div.section-header
    [:p.title [:sg/get :news-section-label]]
    [:h2 [:sg/get :news-section-title]]]
   [:div.news-grid
    [:sg/each [:sg/load-content :type :news :featured true :order-by [:date :desc] :limit 3]
     [:article.news-card
      [:div.news-card-image
       [:a {:href [:sg/get :url]}
        [:img {:src [:sg/get :image] :alt [:sg/get :title]}]]]
      [:div.news-card-content
       [:time.news-date [:sg/get :date]]
       [:h3 [:a {:href [:sg/get :url]} [:sg/get :title]]]
       [:p.news-excerpt [:sg/get :excerpt]]
       [:a.read-more {:href [:sg/get :url]} [:sg/get :news-read-more]]]]]]
   [:div.news-more
    [:a.read-more {:href [:sg/get :news-more-url]} [:sg/get :news-more-text]]]]]]