{:type :news
 :date "2024-04-15"
 :title "Anteo inngår partnerskap med ledende utstyrsleverandør"
 :slug "news/2024-04-15-partnerskap"
 :excerpt "Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur."
 :published true
 :featured true}