{:type :news
 :date "2024-03-15"
 :title "Lansering av ny modul for temperaturovervåking"
 :slug "news/2024-03-15-temperatur-modul"
 :excerpt "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum."
 :published true
 :featured true}